.Navigation {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.Navigation .Link {
    background-color: inherit;
    text-decoration: none;
    color: rgb(46, 46, 46);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.Navigation .Link.Active {
    background-color: #ccc;
}

.Navigation .Link:hover {
    background-color: #ddd;
}
