.RecipeDetails {
    width: 23%;
    height: 250px;
    margin: 10px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.RecipeDetails .Header {
    font-style: italic;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.RecipeDetails .Name {
    font-weight: bold;
}

.RecipeDetails .NewIndicator {
    font-family: auto;
}

.RecipeDetails .IngredientsWrapper {
    display: flex;
    flex-flow: column;
    padding: 2px 16px;
}

.RecipeDetails:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.NewRecipe {
    box-shadow: 0 2px 16px 0 green
}

.Scrollbar {
    float: left;
    background: #F5F5F5;
    margin-bottom: 25px;
    overflow-y: scroll;
}

.Scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.Scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.Scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
